@page "/feed"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using SocialMedia.Classes.Dtos.Post
@using SocialMedia.Classes.Interfaces
@using SocialMedia.Front.Client.Components
@inject IPostService PostService
@rendermode InteractiveWebAssembly
@attribute [Authorize]      

<PageTitle>Feed</PageTitle>

<AuthorizeView>
    <Authorized>
        <section>
            @foreach (var post in _posts)
            {
                <PostComponent Post="post" Openable />
            }
        </section>
    </Authorized>
</AuthorizeView>

@* <section> *@
@*     @foreach (var post in _posts) *@
@*     { *@
@*         <PostComponent Post="post" Openable /> *@
@*     } *@
@* </section> *@

@code {
    private List<PostResponseDto> _posts = [];

    private async Task GetPosts()
    {
        _posts = await PostService.GetAll();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _posts = await PostService.GetAll();
    }
}