<nav>
    <ul>
        <li>
            <span class="bi bi-house-door-fill" />
            <a href=""> 
                Home
            </a> 
        </li>
        <li>
            <span class="bi bi-database-fill" />
            <a href="feed"> 
                Feed
            </a> 
        </li>
    </ul>
</nav>

<style>
    nav {
        background-color: var(--clr-polynesian-blue);
        color: var(--clr-white);
        height: 100svh;
        padding: var(--sz-6);
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

</style>